In [1]:
import pandas as pd
import numpy as np
import pymongo
import json

In [2]:
df_rate = pd.read_csv('ratings.csv', encoding='utf-8')
df_rate.fillna(0, inplace=True)
df_rate.drop(columns=['timestamp'], inplace=True)
df_rate.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [3]:
df_rate.tail()

        userId  movieId  rating
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0